<h1>
  Posts List
</h1>

Downloaded Data : {{downloadedBytes}}

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>User Id</th>
      <th>Title</th>
      <th>Body</th>
      <th>
        Delete
      </th>
      <th>
        Details
      </th>
      <th>
        Edit
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of postsList">
      <td>{{post.id}}</td>
      <td>{{post.userId}}</td>
      <td>{{post.title}}</td>
      <td>{{post.body}}</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="delete(post.id)">
          Delete
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" [routerLink]="[post.id]">
          Details
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-success" [routerLink]="[post.id,'edit']">
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>